body {
	margin: 0em;
}

header {
	height: 100px;
	width: 100%;
	background-color: #222;
}

header #head_title {
	padding-top: 33px;
	font-size: 30px;
	color: white;
}

#contenu {
	/*pour pas que ça aille jusqu'au bord de l'écran*/
	padding-left: 25px;
	padding-right: 25px;
}

footer {
	color: #999;
}

footer a {
	color: #66f;
};
